<main class="h-full w-full flex flex-col">
  <app-header (onSignOut)="signOut()"></app-header>

  <section
    class="w-full h-full grow flex flex-col items-center justify-center gap-16"
  >
    <button
      (click)="increaseCount()"
      class="p-4 rounded-xl flex items-center text-4xl font-bold bg-teal-600 text-white"
    >
      <i class="material-symbols-outlined">add</i>
    </button>
    <h1 class="font-bold text-gray-600 text-6xl">
      COUNTER: {{(counter$|async)?.value}}
    </h1>
    <button
      (click)="decreaseCount()"
      class="p-4 rounded-xl flex items-center text-4xl font-bold bg-cyan-600 text-white"
    >
      <i class="material-symbols-outlined">remove</i>
    </button>
  </section>
</main>
